{
  "host": {
    "bind_addr": "0.0.0.0",
    "ctl_port": 4890,
    "B_port": 4891,
    "port_map": {
      "4892": ["zbox", "127.0.0.1", 22],
      "4893": ["zbox", "192.168.3.32", 22],
      "4894": ["nas", "127.0.0.1", 22]
    },
    "recv_size": 1024,
    "queue_size": 1024,
    "queue_timeout": 3,
    "recv_timeout": 3
  }
}