{
  "local": {
    "id": "nas",
    "host_addr": "127.0.0.1",
    "ctl_port": 4890,
    "B_port": 4891,
    "recv_size": 1024,
    "queue_size": 1024,
    "queue_timeout": 3,
    "recv_timeout": 3
  }
}